@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 150px) and (max-width: 1200px) {
  .content {
      width: 100%;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin: 15px 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
    background-color: #4BED9C;
    color: white;
    border: 1px solid white;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
